@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-001: #0A3871;
    --cor-002: #FFFFFF;
    --cor-003: #495057;
    --cor-004: #343A40;
    --cor-005: #F3F5FC;
    --cor-006: #000000;
    --cor-007: #E8E8E8;
    --cor-008: #9B9797;
    --cor-009: #D8DFE8;
    --cor-010: #356EA9;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-005);
    font-family: "Inter", sans-serif;
    height: 100%;
}

.cabecalho {
    padding: 2%;
}

.conteudo {
    display: flex;
    padding: 4% 12%;
    gap: 80px;
}

.conteudo_principal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
}

.conteudo_principal label {
    font-size: 2rem;
    font-weight: 400;
    color: var(--cor-001);
}

.area-texto {
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: none;
    resize: none;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    font-weight: 400;
    color: var(--cor-001);
    font-family: "Inter", sans-serif;
}

.area-texto::placeholder {
    color: var(--cor-001);
}

.alerta {
    display: flex;
    gap: 5px;
    font-size: 0.75rem;
}

.botoes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.botao-criptografar {
    background-color: var(--cor-001);
    color: var(--cor-002);
    font-size: 1rem;
    padding: 20px 80px;
    border: solid 1px var(--cor-001);
    border-radius: 24px;
    cursor: pointer;
}

.botao-criptografar:hover {
    background-color: var(--cor-010);
}

.botao-descriptografar {
    background-color: var(--cor-009);
    color: var(--cor-001);
    font-size: 1rem;
    padding: 20px 80px;
    border: solid 1px var(--cor-001);
    border-radius: 24px;
    cursor: pointer;
}

.botao-descriptografar:hover {
    background-color: var(--cor-008);
}


.conteudo-texto-criptografado {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 500px;
    background-color: var(--cor-002);
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    gap: 32px;
    text-align: center;
    padding: 32px;
}

.conteudo-texto-criptografado img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.conteudo-texto-criptografado h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-004);
}

.conteudo-texto-criptografado p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-003);
}

.botao-copiar {
    display: none;
    background-color: var(--cor-002);
    color: var(--cor-001);
    font-size: 1rem;
    padding: 20px 80px;
    border: solid 1px var(--cor-001);
    border-radius: 24px;
    cursor: pointer;
    align-items: flex-end;
}

.esconder-conteudo {
    display: none;
}

.mostrar-conteudo {
    display: block;
}

@media (max-width: 800px) {
    .cabecalho{
        margin-left: -10;
    }
    .conteudo {
        display: flex;
        flex-direction: column;
        padding: 7%;
        gap: 10px;
    }
    .conteudo_principal {
        margin: 0px;
        width: 100%;
    }
    .area-texto {
        height: 500px;
    }
    .botoes {
        display: flex;
        justify-content: space-between;
    }
    .conteudo-texto-criptografado {
        box-sizing: border-box;
        width: 100%;
        min-height: 0px;
        gap: 10px;
        text-align: center;
    }
    .conteudo-texto-criptografado img {
        display: none;
    }
}

@media (max-width: 400px) {
    .botoes {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }    
}